.environment input {
    transform: scale(2.3);
    margin: 10px;
}

.environment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.environment h3 {
    font-size: 25px;
}

.environmentItem {
    font-size: 18px;
}

.environmentElement {
    display: flex;
}

.environmentElement button {
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
}

.unError{
    color: #FFFFFF;
    font-size: 40px;
    background: linear-gradient(to right, #dce35b, #45b649);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 25px;
    margin: 20px 0;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
}

.error{
    color: #000000;
    font-size: 40px;
    background: linear-gradient(to right, #F08080, #A52A2A);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 25px;
    margin: 20px 0;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
}