.environment input {
    transform: scale(2.3);
    margin: 10px;
}

.environment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.environment h3 {
    font-size: 25px;
}

.environmentItem {
    font-size: 18px;
}

.environmentElement {
    display: flex;
}

.environmentElement button {
    font-size: 16px;
    border: 2px solid grey;
    border-radius: 5px;
}

