body {
    background-color: #223212;

}

.App {

    border: none;
}

.todoList {
    width: 700px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {
    z-index: 0;
}

.todoList-task.done {
    opacity: 0.5;

}
.done:hover {
    opacity: 1;
    color: gray;
}

.filter-active {
    background-color: blue;
}

.error {
    border-color: red;
}

.enumerator {
    color: white;
}

.delit {
    font-size: 15px;
    font-weight: bolder;
    color: black;
    background: red;
    border: none;
    border-radius: 10px;
}


.backlight:hover {
    color: gold;
}

.backlight {
    position: relative;

}

.drop {
    display: none;
    position: absolute;
    background-color:#223212 ;
    min-width: 200px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
    height: 70px;
    border: 1px solid black;
}

.backlight:hover .drop {
    display: block;
    color: black;
    font-weight: 500;
    margin-left: 80px;
    margin-top: -90px;

}

