.containerBlack {
    padding: 50px;
    width: 1200px;
    margin: 0   auto;
    height: 90vh;
    background: url("https://i1.wallbox.ru/wallpapers/main/201133/temno-ochen-temno-f3cbb64.jpg") no-repeat center top / cover;
    color: red;
}

.containerClassic {
    padding: 50px;
    width: 1200px;
    margin: 0   auto;
    height: 90vh;
    background: url("classic.jpg") no-repeat center top / cover;
}

