.container {
    padding: 50px;
    width: 800px;
    margin: 0   auto;
    background: url("https://i1.wallbox.ru/wallpapers/main/201133/temno-ochen-temno-f3cbb64.jpg") no-repeat center top / cover;
    height: 100vh;

}

